body {
  font-family: sans-serif;
  background: #111;
  color: #fff;
  text-align: center;
}

video {
  width: 45%;
  margin: 10px;
  border-radius: 10px;
  background: #000;
}
#qualityIndicator {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
}
